@{
    ViewBag.Title = "Home Page";
}
@model web_parser.ViewModels.UrlViewModel
<div class="jumbotron">
    <h1>Mercury Web Parser Wrapper</h1>
    <p class="lead">@ViewBag.Message</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<form method="post">
    <div class="form-group">
        <label for="ApiUrl">URL for the target API endpoint.</label>
        <input type="text" name="ApiUrl" class="form-control" asp-for="ApiUrl" placeholder="Enter url">
    </div>
    <div class="form-group">
        <label for="ApiKey">Your Mercury Api key</label>
        <input type="password" name="ApiKey" class="form-control" asp-for="ApiKey" placeholder="ApiKey">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

