@model  IEnumerable<string>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Source Url</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item</td>
            </tr>
        }
    </tbody>
</table>
